*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.container
{
	margin: 50px auto; 
	width: 75%; 
	display: grid;
	grid-template-columns: repeat(3,1fr) 150px; 
	grid-gap: 20px; 
	grid-template-rows: 60px 100px 200px 60px; 
	
}  
div
{
	color:white; 
	text-align: center;
	font-size: 2rem;
}
.div1
{
	grid-column: 1/5; 
	border:1px solid black;  
	background-color: #FF2626; 

} 
 
 
.div2d
{
	grid-row: 2/4;
	grid-column: 4/5; 
	background-color: #001E6C;
} 
.div3
{ 
	grid-column:1/4; 
	background-color: #FFB740;

} 
.div4
{ 
	grid-column: 1/5; 
	background-color: #64C9CF;
} 
.div2a
{
	background-color: #71EFA3;
} 
.div2b
{
	background-color: #0F52BA;
} 
.div2c
{
	background-color: #5089C6;
}